<div class="container">
  <div class="row">

    <!--ジャンル検索-->
    <div class="col-2">
      <%= render 'admin/genres/genre', genres: @genres %>
    </div>

    <div class="col-10">
      <h1>配送先詳細</h1>
        <div class="address_information">
          <table class="table table-borderless">
            <tr>
              <td>ジャンル</td>
              <td><%= @address.genre.name %></td>
            </tr>
            <tr>
              <td>店舗名</td>
              <td><%= @address.name %></td>
            </tr>
            <tr>
              <td>電話番号</td>
              <td><%= @address.phone_number %></td>
            </tr>
            <tr>
              <td>郵便番号(ハイフンなし)</td>
              <td><%= @address.postal_code %></td>
            </tr>
            <tr>
              <td>住所</td>
              <td><%= @address.address %></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= link_to "編集", edit_admin_address_path, class: "btn btn-primary" %>
                <%= link_to "削除", admin_address_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
              </td>
            </tr>
          </table>
        </div>
    </div>
  </div>
</div>