<div class="container">
  <div class="row">

    <!--ジャンル検索-->
    <div class="col-2">
      <%= render 'public/genres/genre', genres: @genres %>
    </div>

    <div class="col-10">
      <h1>社員詳細</h1>
        <div class="employee_information">
          <table class="table table-borderless">
              <tr>
                <td>名前</td>
                <td><%= @employee.last_name %><%= @employee.first_name %></td>
              </tr>
              <tr>
                <td>フリガナ</td>
                <td><%= @employee.last_name_kana %><%= @employee.first_name_kana %></td>
              </tr>
              <tr>
                <td>社員番号</td>
                <td><%= @employee.employee_number %></td>
              </tr>
              <% if @employee.id == current_employee.id %>
                <tr>
                  <td>電話番号</td>
                  <td><%= @employee.phone_number %></td>
                </tr>
                <tr>
                  <td>メールアドレス</td>
                  <td><%= @employee.email %></td>
                </tr>
              <% end %>
              <tr>
                <td>車両</td>
                <td><%= @employee.car_number %></td>
              </tr>
              <% if @employee.guest_employee? %>
                <!--ゲストユーザーの場合は編集ボタンを表示させない-->

              <% elsif @employee.id == current_employee.id %>
                <tr>
                  <td></td>
                  <td>
                    <%= link_to "編集", edit_employee_path, class: "btn btn-primary" %>
                  </td>
                </tr>

              <% else %>
              <% end %>
          </table>
    </div>
  </div>
</div>