<div class="container">
  <div class="row">
    <div class='col'>
      <div class='d-flex justify-content-center'>
        <h2>管理者　ログイン</h2>
      </div>

      <div class="d-flex justify-content-center align-items-center" style="margin-top: 40px;">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <table class="table table-borderless" >
            <tr>
              <td><%= f.label :社員番号 %></td>
              <td><%= f.text_field :employee_number %></td>
            </tr>
            <tr>
              <td><%= f.label :パスワード %></td>
              <td><%= f.password_field :password, autocomplete: "current-password" %></td>
            </tr>
            <tr>
              <td></td>
              <td>
                <%= f.submit "ログイン" %></br>
                <%= render "admin/shared/links" %>
              </td>
            </tr>
          </table>

        <% end %>
      </div>
    </div>

  </div>
</div>