<div class="container">
  <div class="row">

    <!--ジャンル検索-->
    <div class="col-2">
      <%= render 'genre', genres: @genres %>
    </div>

    <div class="col-10">
      <h1>ジャンル検索結果一覧</h1>
        <div><h3><%= @genre.name %></h3></div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>日付</th>
              <th>店舗名</th>
              <th>担当者</th>
              <th>配送状況</th>
            </tr>
          </thead>
          <tbody>
            <% @works.each do |work| %>
              <% if @genre.id == work.address.genre_id %>
                <tr>
                  <td>
                    <%= link_to admin_work_path(work.id) do %>
                      <%= l work.date %>
                    <% end %>
                  </td>
                  <td><%= work.address.name %></td>
                  <td><%= work.employee.employee_name %></td>
                  <td><%= render 'admin/works/work_status', work: work %></td>
                </tr>
              <% end %>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>