<table class="table table-bordered">
  <thead>
    <tr>
      <th>ジャンル</th>
      <th>店舗名</th>
      <th>電話番号</th>
      <th>郵便番号</th>
      <th>住所</th>
    </tr>
  </thead>
  <tbody>
    <% addresses.each do |address| %>
        <tr>
          <td><%= address.genre.name %></td>
          <td>
            <%= link_to address_path(address.id) do %>
              <%= address.name %>
            <% end %>
          </td>
          <td><%= address.phone_number %></td>
          <td><%= address.postal_code %></td>
          <td><%= address.address %></td>
        </tr>
    <% end %>
  </tbody>
</table>