<div class="container">
  <div class="row">
    <div class="col">

      <h2>新規登録</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>

            <table class="table table-borderless">
              <tr>
                <td><%= f.label :名前（姓）%></td>
                <td><%= f.text_field :last_name %></td>
                <td><%= f.label :名前（名） %></td>
                <td><%= f.text_field :first_name %></td>
              </tr>
              <tr>
                <td><%= f.label :名前フリガナ（姓） %></td>
                <td><%= f.text_field :last_name_kana %></td>
                <td><%= f.label :名前フリガナ（名） %></td>
                <td><%= f.text_field :first_name_kana %></td>
              </tr>
              <tr>
                <td><%= f.label :社員番号 %></td>
                <td><%= f.text_field :employee_number %></td>
              </tr>
              <tr>
                <td><%= f.label :電話番号 %></td>
                <td><%= f.text_field :phone_number %></td>
              </tr>
              <tr>
                <td><%= f.label :メールアドレス %></td>
                <td><%= f.email_field :email, autocomplete: "email" %></td>
              </tr>
              <tr>
                <td>
                  <%= f.label :パスワード %>
                    <% if @minimum_password_length %>
                      <em>（<%= @minimum_password_length %>文字以上）</em>
                    <% end %>
                </td>
                <td><%= f.password_field :password, autocomplete: "new-password" %></td>
              </tr>
              <tr>
                <td><%= f.label :パスワード（確認用） %></td>
                <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <%= f.submit "新規登録" %></br>
                  <%= render "public/shared/links" %>
                </td>
              </tr>
            </table>
          <!--car_numbre デフォルト-->
            <%= f.hidden_field :car_number, :value => 0 %>
        <% end %>
    </div>
  </div>
</div>
